@model IEnumerable<ProductDTO>

<a asp-action="Create">Create a new product</a>
<a asp-action="Create" asp-controller="Categories">Create a new category</a>

@foreach (var product in Model)
{
    <partial path="~/Views/Products/Partials/" name="_ProductItem" model="@product"/>
}