@model IEnumerable<CategoryDTO>

<ul style="padding: 1rem;">   
    @foreach (var category in Model)
    {
        <li> (id - @category.Id) @category.Name</li>
    }
</ul>

@if (!Model.Any()) 
{
    <p>Does not have elements</p>
}