<header class="header">
    <div class="search">
        <input type="search" name="search" placeholder="Pesquisar">
        <button>Pesquisar</button>
    </div>
    <ul>
        <li>
            <a asp-controller="Products" asp-action="Index">Produtos</a>
        </li>
         <li>
            <a asp-controller="Categories" asp-action="Index">Categorias</a>
        </li>
    </ul>
</header>