<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <title>Shop</title>
        <link rel="stylesheet" type="text/css" href="~/css/site.css"/>
    </head>
    <body>
        <partial name="_Header"/>
        @RenderBody()
    </body>
    <script src="~/js/header.js"></script>
</html>