* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FB5731;
  padding: 1rem;
  gap: 0.8rem;
}

.header .search {
  background-color: white;
  width: 50%;
  display: flex;
  padding: 0.2rem;
}

.header .search input {
  outline: none;
  border: none;
  padding: 1rem;
  flex: 1;
  font-size: 1rem;
}

.header .search button {
  cursor: pointer;
  background-color: #FB5731;
  outline: none;
  border: none;
  padding: 0 0.5rem;
  color: #fff;

}

.header ul {
  list-style: none;
  display: flex;
  color: white;
  width: 50%;
  gap: 1rem;
}

.header ul > li a {
  color: currentColor;
}


.clicked {
  transform: scale(1.05);
  transition: all ease-in;
}